@font-face {
  font-family: "TimesNewRomanMTStd-BoldCond";
  src: url("/Times\ New\ Roman\ MT\ Std\ Bold\ Condensed.otf") format("opentype");
  font-style: normal;
}

:root {
  font-family: 'TimesNewRomanMTStd-BoldCond', Times New Roman, serif;
  --bg-color: #faf0e6;
  --text: #000;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  margin: 0rem;
  overflow: hidden;
}

#main-flex {
  height: 100%;
  width: 100%;
  margin: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  color: black;
}

nav {
  display: flex;
  justify-content: center;
}

.nav-div {
  padding: 16px;
  cursor: pointer; 
  font-size: 24px;
}

.inactive {
  color: #b0b0b0;
}

.no-select {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+ */
  user-select: none;         /* Standard syntax */
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%); 
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% 50%;
}

#x-hair {
  height: 24px;
  position: absolute; /* Positioned absolutely relative to its closest positioned ancestor */
  top: 50%;  /* Center vertically, adjust as needed */
  left: 50%; /* Center horizontally, adjust as needed */
  transform: translate(-50%, -50%); /* This ensures it centers exactly where you want it */
  z-index: 4;
}

#image-counter {
  color: #000;
  font-size: 18px;
  padding: 16px;
  display: flex;
  align-items: center;
}

#counter-separator:after {
  content: '---'; /* Adjust the number of '-' symbols as needed */
  letter-spacing: -1.5px; /* Adjust spacing to make them connected */
  white-space: nowrap; /* Prevent the line from breaking */
}

.text {
  z-index: 5;
  font-size: 28px;
  cursor: pointer;

  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: transform 1s ease, opacity 0.5s ease;
}

.text.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.text:hover {
  font-size: 40px;
  transition: font-size 0.2s linear;
}

.korea-text {
  color: black;
}

.food-text {
  color: white;
  position: absolute;
  top: 40%;
}

.selfies-text {
  color: white;
  position: absolute;
  top: 10%;
}

.other-text {
  color: white;
}
