@font-face {
  font-family: "TimesNewRomanMTStd-BoldCond";
  src: url("/Times\ New\ Roman\ MT\ Std\ Bold\ Condensed.otf") format("opentype");
  font-style: normal;
}

:root {
  font-family: 'TimesNewRomanMTStd-BoldCond', Times New Roman, serif;
  --bg-color: #faf0e6;
  --text: #000;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-color);
  margin: 0rem;
  overflow: hidden;
  overscroll-behavior-x: none;
}

#main-flex {
  height: 100%;
  width: 100%;
  margin: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header {
  color: black;
}

nav {
  display: flex;
  justify-content: center;
}

#to-container {
  padding: 16px;
  cursor: pointer; 
  font-size: 24px;
  width: fit-content;
  height: fit-content;
  color: #000; 
  text-align: center;
}

.nav-text {
  padding: 16px;
  cursor: pointer; 
  font-size: 24px;
}

.inactive {
  color: #b0b0b0;
}

.no-hl {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.no-hl.invisible {
  opacity: 0;
}

.no-select {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none;    /* Firefox */
  -ms-user-select: none;     /* IE10+ */
  user-select: none;         /* Standard syntax */
}

#image-track {
  display: flex;
  gap: 4vmin;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(0%, -50%); 
  user-select: none; /* -- Prevent image highlighting -- */
}

#image-track > .image {
  width: 40vmin;
  height: 56vmin;
  object-fit: cover;
  object-position: 100% 50%;
}

#x-hair {
  height: 24px;
  position: absolute; /* Positioned absolutely relative to its closest positioned ancestor */
  top: 50%;  /* Center vertically, adjust as needed */
  left: 50%; /* Center horizontally, adjust as needed */
  transform: translate(-50%, -50%); /* This ensures it centers exactly where you want it */
  z-index: 4;
}

#image-counter {
  color: #000;
  font-size: 18px;
  padding: 16px;
  display: flex;
  align-items: center;
}

#counter-separator:after {
  content: '---'; /* Adjust the number of '-' symbols as needed */
  letter-spacing: -1.5px; /* Adjust spacing to make them connected */
  white-space: nowrap; /* Prevent the line from breaking */
}

.text {
  z-index: 5;
  font-size: 48px;
  cursor: pointer;

  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: transform 1s ease, opacity 0.5s ease;
}

.text.visible {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.text.change-content .content {
  opacity: 0;
  transform: translateY(20px);
  transition: transform 1s ease, opacity 0.5s ease;
}

.text.change-content.visible .content {
  opacity: 1;
  transform: translateY(0);
}

.korea-text {
  color: #002800;
}

.food-text {
  color: white;
  position: absolute;
  top: 28%;
  left: 2.5%;
}

.wedding-text {
  position: absolute;
  top: 24%;
}

.selfies-text {
  color: white;
  position: absolute;
  top: -36%;
}

.final-text {
  color: white;
  position: absolute;
  top: -15%;
}

.pseudo-hidden {
  display: none;
  position: relative;
}

.pseudo-hidden.reveal-text {
  display: block;
  text-align: center;
  z-index: 6;
}

.pseudo-hidden.reveal-text span {
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
}

.pseudo-hidden.reveal-text span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: white;
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.pseudo-hidden.reveal-text span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.pseudo-hidden.reveal-text span:nth-of-type(1)::before,
.pseudo-hidden.reveal-text span:nth-of-type(1)::after{
    animation-delay: 0.05s;
}

.pseudo-hidden.reveal-text span:nth-of-type(2)::before,
.pseudo-hidden.reveal-text span:nth-of-type(2)::after{
    animation-delay: 0.1s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}

#image-text-container {
  position: relative;
  text-align: center;
  z-index: 5;
}

#image-hover-sup {
  position: absolute;
  font-size: smaller;
  cursor: pointer;
  transform: translateY(-50%);
  transition: transform 0.7s ease;
  visibility: hidden;
}

#image-text-container:hover #image-hover-sup {
  transform: translateY(0);
  visibility: visible;
  transition-delay: 0s;
}

.hidden {
  display: none;
}

.appear {
  transition: all 0.8s;
  opacity: 0;
  transform: translateY(40px);
}

.appear.inview {
  opacity: 1;
  transform: none;
  transition-delay: 0.3s;
}

.appear:nth-child(even) {
  transition-delay: 0.6s; /* Add a delay for odd-indexed elements */
}

#gallery {
  min-height: 100vh;
  width: 100vw;
}

.gallery-image {
  width: 40vmin;
  height: 56vmin;
}

#back-button {
  cursor: pointer;
}
